@font-face {
    font-family: 'HealTheWebB';
    src:
        url('/fonts/healtheweb/HealTheWebB-Regular.woff2') format('woff2'),
        url('/fonts/healtheweb/HealTheWebB-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HealTheWebA';
    src: url('/fonts/healtheweb/HealTheWebA-Regular.woff2') format('woff2'),
    url('/fonts/healtheweb/HealTheWebA-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
